{% extends 'movies/base.html' %}
{% load static %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'movies/css/login.css' %}">
{% endblock extrastyle %}

{%block title %}Login with Metiz {% endblock title %}

{% block main-content-header %}
	<div class='metiz-form'>
		<div class="metiz-tab-group">
			<li class="tab active"><a href="#login">Đăng nhập</a></li>
		</div>
		<div class='metiz-tab-content'>
			<h3 class="metiz-singin">bạn đã là thành viên</h3>
				<form action="" method="POST" accept-charset="utf-8">
					{% csrf_token %}
					<div class="field-wrap">
			            <label>
			              Username <span class="req">*</span>
			            </label>
			            <input name="username" type="text" required autocomplete="off"/>
		         	 </div>
		          
		          <div class="field-wrap">
			            <label>
			              Mật khẩu<span class="req">*</span>
			            </label>
			            <input name="password" type="password" required autocomplete="off"/>
		          </div>
		          <div class="field-wrap">
		          	<div class="errors" style="color: red;">
		          		{% if errors %}
				          	{{ errors }}
				        {% endif %}
		          	</div>
		          </div>
		          <button class="button button-block"/>Đăng nhập</button>
				</form>
		</div>
	</div>
<hr>           
{% endblock main-content-header %}