{% extends 'movies/base.html' %}
{% load static %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'movies/css/login.css' %}">
{% endblock extrastyle %}

{%block title %}Register with Metiz {% endblock title %}

{% block main-content-header %}
	<div class='metiz-form'>
		<div class="metiz-tab-group">
			<li class="tab active"><a href="#signin">Đăng kí</a></li>
		</div>
		<div class='metiz-tab-content'>
			<h3 class="metiz-singin">Tham gia vao metiz</h3>
			<form action="" method="POST" accept-charset="utf-8">
				{% csrf_token %}
				{{ form.as_p }}

	          <button class="button button-block"/>Đăng kí</button>
			</form>
		</div>
	</div>
<hr>           
{% endblock main-content-header %}