<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<title>Metiz</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'movies/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'movies/css/bootstrap.theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'movies/css/reponsive.css' %}">
</head>
<body>
	<header id="header"> <!--header -->
		<div class="container fix-logo"> <!-- container fix-logo -->
			<div class="logo-metiz"> <!-- logo-metiz -->
				<h1>
					<a href="" title="">
						<img src="{% static 'movies/images/logo/logo-metiz.png' %}" alt="logo-metiz">
					</a>
				</h1>
			</div> <!-- /logo-metiz -->
		</div> <!-- /container fix-logo -->
		<div class="main-header"> <!-- main-header -->
			<div class="header-top"> <!-- header-top -->
				<div class="container">
					<div class="header-top-right"> <!-- header-top-right -->
						<ul>
							<li><a href="">ĐĂNG NHẬP/</a></li>
							<li><a href="">ĐĂNG KÍ</a></li>
						</ul>
					</div> <!-- /header-top-right -->
				</div>
			</div> <!-- /header-top -->
			<div class="header-middle"> <!-- header-middle -->
				<div class="header-menu"> <!-- header-menu -->
					<div class="container">
						<nav class="nav-area">
							<ul class="menu-area">
								<li><a href="">lịch chiếu</a></li>
								<li><a href="">phim</a>
									<ul class="sub-menu">
										<li><a href="">phim đang chiếu</a></li>
										<li><a href="">phim sắp chiếu</a></li>
									</ul>
								</li>
								<li><a href="">khuyến mãi</a></li>
								<li><a href="">blog phim</a></li>
								<li><a href="">thành viên </a></li>
							</ul>
						</nav>
					</div> <!-- /header-menu -->
				</div>
				<div class="header-banner">
					<div class="container">
						<a href=""><img  src="{% static 'movies/images/thum_image.png' %}" class="img-responsive"></a>
						<div class="slide-banner">
							<div class="image-banner">
								<a href=""><img src="{% static 'movies/images/banner/slide/slide1.png' %}"></a>
								<a href=""><img src="{% static 'movies/images/banner/slide/slide4.png' %}"></a>
								<a href=""><img src="{% static 'movies/images/banner/slide/slide3.png' %}"></a>
								<a href=""><img src="{% static 'movies/images/banner/slide/slide4.png' %}"></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /header-middle -->
			<div class="clearfix"></div>
			<div class="header-bottom"> <!-- header-bottom -->
				<div class="container">
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_arthouse.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_cinemas.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_contact.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_news&offers.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_now.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_register.png' %}"></a>
					<a href=""><img src="{% static 'movies/images/banner/icon/icon_special.png' %}"></a>
				</div>
			</div> <!-- /header-bottom -->
		</div> <!-- /main-header -->
	</header><!-- /header -->
	<section>
		
	</section>
	<footer id= "footer"> <!--footer-->
		
	</footer> <!--/footer-->
</body>
	<script src="{% static 'movies/js/jquery-3.2.1.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'movies/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</html>
