<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<title>Metiz</title>
	{% load static %}
	<style type="text/css">
		#main-content {
    		background: url('{% static "movies/images/background.png" %}') no-repeat center center fixed; 
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'movies/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'movies/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'movies/css/reponsive.css' %}">
	<link rel="stylesheet" href="{% static 'movies/css/slideshow-banner.css' %}">

	<script src="{% static 'movies/js/jquery-3.2.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'movies/js/jssor.slider-26.3.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
	
	<script src="{% static 'movies/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" ></script>
	<script src="{% static 'movies/js/slide-show-banner.js' %}" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
	<header id="header"> <!--header -->
		<div class="container fix-logo"> <!-- container fix-logo -->
			<div class="logo-metiz"> <!-- logo-metiz -->
				<h1>
					<a href="" title="">
						<img src="{% static 'movies/images/logo/logo-metiz.png' %}" alt="logo-metiz">
					</a>
				</h1>
			</div> <!-- /logo-metiz -->
		</div> <!-- /container fix-logo -->
		<div class="main-header"> <!-- main-header -->
			<div class="header-top"> <!-- header-top -->
				<div class="container">
					<div class="header-top-right"> <!-- header-top-right -->
						<ul>
							<li><a href="">ĐĂNG NHẬP/</a></li>
							<li><a href="">ĐĂNG KÍ</a></li>
						</ul>
					</div> <!-- /header-top-right -->
				</div>
			</div> <!-- /header-top -->
			<div class="header-middle"> <!-- header-middle -->
				<div class="header-menu"> <!-- header-menu -->
					<div class="container">
						<nav class="nav-area">
							<ul class="menu-area">
								<li><a href="">lịch chiếu</a></li>
								<li><a href="">phim</a>
									<ul class="sub-menu">
										<li><a href="">phim đang chiếu</a></li>
										<li><a href="">phim sắp chiếu</a></li>
									</ul>
								</li>
								<li><a href="">khuyến mãi</a></li>
								<li><a href="">blog phim</a></li>
								<li><a href="">thành viên </a></li>
							</ul>
						</nav>
					</div> <!-- /header-menu -->
				</div>
				<div class="header-banner">
					<div class="container">
    					<div id="jssor_1">
					        <div data-u="slides" class="slider-banner">
					            <div>
					                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
					                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide1.png' %}" />
					            </div>
					            <div>
					                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
					                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide4.png' %}" />
					            </div>
					            <div>
					                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
					                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide3.png' %}" />
					            </div>
					            <div>
					                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
					                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide1.png' %}" />
					            </div>
					            <div>
					                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
					                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide4.png' %}" />
					            </div>
					        </div>
					        <!-- Thumbnail Navigator -->
					        <div data-u="thumbnavigator" class="jssort101" data-autocenter="1" data-scale-bottom="0.75">
					            <div data-u="slides">
					                <div data-u="prototype" class="p" >
					                    <div data-u="thumbnailtemplate" class="t"></div>
					                    <svg viewbox="0 0 16000 16000" class="cv">
					                    </svg>
					                </div>
					            </div>
					        </div>
    					</div>
    				</div>
    			</div>
			</div>
		</div> <!-- /header-middle -->
		<div class="clearfix"></div>
		<div class="header-bottom"> <!-- header-bottom -->
				<div class="container">
					<div class=" logo-banner">
						<a href=""><img src="{% static 'movies/images/icon-logo-banner.png' %}" class="img-responsive"></a>
					</div>
				</div>
		</div> <!-- /header-bottom -->
	</header><!-- /header -->
	<div id="main-content">
		<section class="metiz-movies">
			<div class="container">
				<div class="row ">
					<div class="col-md-6 metiz-button">
						<button type="button" class="movie-is-showing">PHIM ĐANG CHIẾU</button>
					</div>
					<div class="col-md-6 metiz-button">
						<button type="button" class="uncoming-movie">PHIM SẮP CHIẾU</button>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<footer id= "footer"> <!--footer-->
		
	</footer> <!--/footer-->
</body>
	
</html>
