body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-weight: 400px;
	background: #0f1d32;
}
/*==========Header Area============*/
#header {
	margin: 0;
	padding: 0;
}
.fix-logo {
  	position: relative;
}

.logo-metiz {
	z-index:1;
  	width: 200px;
  	height: 200px;
  	position: absolute;
  	top: 0;
 	background: #021325;
}

.logo-metiz img {
	right: 156px;
	bottom: 106px;
	position: relative;
}

.main-header .header-top {
  	background: #0e1e2e;
}
.main-header .header-menu {
  background: #031327;
}
.main-header .header-top-right {
  	float: right;
}
.header-top-right ul {
	margin-top: 10px;
	margin-bottom: 10px;
}
.header-top-right ul li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
}
.header-top-right ul li a {
	list-style: none;
	text-decoration: none;
	color: #7a899e;
	font-style: 12px;
}
.header-top-right ul li a:hover {
	outline: none; 
	text-decoration: none;
	color: #ab3b13;
}
/*==========Menu Area===========*/
.nav-area {
	padding-top: 10px;
	margin-left: 200px;
}

.nav-area .menu-area li {
	list-style: none;
	text-transform: uppercase;
	font-size: 18px;
  	float: left;
  	position: relative;
  	padding: 0 15px;
  	transition: all 0.4s;
  	margin: 0 10px;
  	z-index:1;
}
.nav-area .menu-area li a {
	color:#7a899e;
	font-weight: bold;
	border-bottom: 4px solid transparent;
  	display: block;
  	padding: 10px 0;
}
.nav-area .menu-area li a:hover {
	color: #ab3b13;
  	text-decoration: none;
  	
}
.nav-area .menu-area li:hover a {
	border-bottom: 4px solid #ab3b13;
}

.nav-area .menu-area li:hover ul {
  	opacity:1; 
	top:40px;
	left:-45px;
	position: absolute;
	visibility:visible;
}
.nav-area .menu-area li ul li a:hover {
  	border-bottom: none;
}

.nav-area .menu-area li:hover ul li a{
  border: 0;
}

.nav-area .menu-area li ul {
  	position: absolute;
  	min-width: 260px;
  	top: 65px;
  	left: 0;
  	opacity: 0;
  	padding-top: 10px;
  	visibility: hidden;
  	transition: all 0.4s;
}
.nav-area .menu-area li ul li {
  	background: #031327;
  	width: 100%;
  	padding: 0 10px;
}
/*===================Movie at Metiz=====================*/

.metiz-button {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 0 0 0;
    color: #ffdee9;
    transition-duration: 0.4s;
    cursor: pointer;
}
.movie-is-showing {
	border-radius: 50px;
	padding: 12px 24px;
	
}
.movie-is-showing:hover {
	background-color: #ff5400;
}
.uncoming-movie {
	border-radius: 50px;
	padding: 14px 28px;
	border: 1px solid #ffdee9;
}
.uncoming-movie:hover {
	background-color: #ff5400;
}