{% extends 'movies/base.html' %}
{% load static %}

{% block main-content-header %}
	{% block metiz-slider %}
		<section> <!-- Slider banner -->
		<div class="container">
			<div id="jssor_1">
		        <div data-u="slides" class="slider-banner">
		            <div>
		                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
		                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide4.png' %}" />
		            </div>
		            <div>
		                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %} "/>
		                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide1.png' %}" />
		            </div>
		            <div>
		                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
		                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide3.png' %}" />
		            </div>
		            <div>
		                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %}" />
		                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide4.png' %}" />
		            </div>
		            <div>
		                <img data-u="image" class="image-banner" src="{% static 'movies/images/thum_image.png' %} "/>
		                <img data-u="thumb" class ="thum-banner" src="{% static 'movies/images/banner/slide/slide1.png' %}" />
		            </div>
		        </div>
		        <!-- Thumbnail Navigator -->
		        <div data-u="thumbnavigator" class="jssort101" data-autocenter="1" data-scale-bottom="0.75" style="">
		            <div data-u="slides">
		                <div data-u="prototype" class="p" >
		                    <div data-u="thumbnailtemplate" class="t"></div>
		                    <svg viewbox="0 0 16000 16000" class="cv">
		                    </svg>
		                </div>
		            </div>
		        </div>
		        <!-- Arrow Navigator -->
		        <div data-u="arrowleft" class="jssora106" >
		            <i class="fa fa-chevron-left" aria-hidden="true" style="color: #fff; position: absolute; top:312px; left:35px; font-size: 20px; font-family: 'FontAwesome' "></i>
		        </div>
		        <div data-u="arrowright" class="jssora106">
		           <i class="fa fa-chevron-right" aria-hidden="true" style="color: #fff; position: absolute; top:312px; left:935px; font-size: 20px; font-family: 'FontAwesome'"></i>
		        </div>
			</div>
        </div>
		</section> <!-- /Slider banner -->
	{% endblock metiz-slider %}

	{% block metiz-logo %}
		<section> <!--  logo banner -->
		<div class="container">
			<div class=" logo-banner">
				<a href="#"><img src=" {% static 'movies/images/icon-logo-banner.png' %}" class="img-responsive"></a>
			</div>
		</div>
		</section> <!-- /logo banner -->
	{% endblock metiz-logo %}
{% endblock main-content-header %}

{% block main-content-center %}
<hr>
	<div class="metiz-film-detail">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="img-responsive" src="{% static 'movies/images/films/nhungchuchimgiandu.png' %}" alt="" width="100%">
				</div>
				<div class="col-md-7">
	                <h3 class="metiz-title">TIẾNG ANH LÀ CHUYỆN NHỎ</h3>
	                <div class="sub">
	                    Đăng ngày : <span> 02.10.2017 - 10:18</span>
	                </div>
	                <ul class="metiz-list-unstyled">
	                    <li>
	                    	<span class="col-left"><strong>Khởi chiếu:</strong></span>
	                    	<span class="col-right">Từ 13/10/2017 đến 27/10/2017</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li>
	                    	<span class="col-left"><strong>Loại phim:</strong></span>
	                    	<span class="col-right">Hài, Cảm động, Nhân văn</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li>
	                    	<span class="col-left"> <strong>Diễn viên:</strong></span>
	                    	<span class="col-right">Na Moon-hee, Lee Je-hoon, Pak Chul-min, Yeom Hye-ran, Sung Yu-bin, Lee Sang-hee, Kim So-jin, and Son Sook</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li><span class="col-left"><strong>Đạo diễn:</strong></span>
	                    	<span class="col-right">Kim Hyun-suk</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li><span class="col-left"><strong>Thời lượng:</strong></span>
	                    	<span class="col-right">119 phút</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li>
	                    	<a href="" class="booking-button">Mua ve</a>
	                    </li>
	                </ul>
				</div>
			</div>
			<div class="row">
		       <div class="des">
		       	<h4 class="metiz-title">Tóm tắt phim</h4>
	            	<p>Kẻ Ngoại Tộc là hành trình của người đàn ông Việt Nam hiền lành trả thù cho cô con gái bị khủng bố giết oan. Quan là chủ một tiệm cơm ở khu phố Tàu (London). Buổi sáng nọ như bao ngày, anh đưa đón cô con gái cưng đi học mà không ngờ rằng mình sắp mất cô bé vĩnh viễn vì một vụ đánh bom của quân khủng bố Ai-len. Tất cả những gì anh hy vọng sau đó là những kẻ thủ ác sẽ bị đưa ra ánh sáng, nhưng không, chính phủ từ chối công khai danh tính của chúng. Uất ức, tuyệt vọng, anh quyết định tự mình trả thù nhóm khủng bố trên. Đúng thời điểm đó, một nhân vật quan trọng là Liam Hennessy (Pierce Brosnan) xuất hiện và tiết lộ âm mưu phức tạp đằng sau vụ việc... The Foreigner là dự án đầu tiên của Thành Long được thực hiện tại Hollywood sau khi anh nhận giải Oscar danh dự năm 2016. Cùng với đạo diễn nổi tiếng Martin Campbell và nam diễn viên từng thủ vai James Bond - Pierce Brosnan, bộ ba đảm bảo mang đến cho khán giả một bom tấn đáng kinh ngạc.</p>
	            	<a href="javascript:;" title="Xem thêm" class="view-more-4" data-viewmore-text="">Xem thêm</a>
            	</div>
			</div>
		</div>
	</div>
{% endblock main-content-center %}

{% block main-content-bottom %}
	<section class="metiz-ads"> <!-- metiz-ads -->
		<hr>
		<div class="metiz-icon-social">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class='col-md-4'>
						<div class="metiz-social">
							<li class="metiz-icon-facabook"><a href=""><img src="{% static 'movies/images/icon/icon_facebook.png'%}"></a></li>
							<li class="metiz-icon-instagram"><a href=""><img src="{% static 'movies/images/icon/icon_instagram.png'%}"></a></li>
							<li class="metiz-icon-youtube"><a href=""><img src="{% static 'movies/images/icon/icon_youtube.png'%}"></a></li>
						</div>
					</div>
					<div class='col-md-4'>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /metiz-ads -->
{% endblock main-content-bottom %}

