{% extends 'movies/base.html' %}
{% load static %}
{% block main-content-center %}
	<div class="metiz-film-detail">
		<div class="row">
			<div class="category-film">
				<div class="info-film">
					<div class="navbar nav-menu">
					<div class="navbar-collapse">
						<ul class="nav navbar-nav">
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="img-responsive" src="{{ film.image.url }}" alt="" width="100%">
				</div>
				<br>
				<div class="col-md-7">
	                <h3 class="metiz-title"> {{ film.name }}</h3>
	                <div class="sub">
	                    Đăng ngày : <span> 02.10.2017 - 10:18</span>
	                </div>
	                <ul class="metiz-list-unstyled">
	                    <li>
	                    	<span class="col-left"><strong>Khởi chiếu:</strong></span>
	                    	<span class="col-right">Từ 13/10/2017 đến 27/10/2017</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    {% if film.category.all %}
	                    <li>
	                    	<span class="col-left"><strong>Loại phim:</strong></span>
	                    	{% for category in film.category.all %}
	                    		<span class="col-right"> {{ category }}, </span>
        					{% endfor %}
	                        <div class="clearfix"></div>  
	                    </li>
	                    {% endif %}

	                    {% if film.actor.all %}
	                    <li>
	                    	<span class="col-left"> <strong>Diễn viên:</strong></span>
	                    	{% for actor in film.actor.all %}
	                    		<span class="col-right"> {{ actor}}, </span>
	                    	{% endfor %}
	                        <div class="clearfix"></div>
	                    </li>
	                    {% endif %}

	                    {% if film.director.all %}
	                    <li>
	                    	<span class="col-left"><strong>Đạo diễn:</strong></span>
	                    	{% for director in film.director.all %}
	                    		<span class="col-right">{{ director }},</span>
	                    	{% endfor %}
	                        <div class="clearfix"></div>
	                    </li>
	                    {% endif %}
	                    <li><span class="col-left"><strong>Thời lượng:</strong></span>
	                    	<span class="col-right">{{ film.movie_lenght}}</span>
	                        <div class="clearfix"></div>
	                    </li>
	                    <li>
	                    	<a href="" class="booking-button">Mua vé</a>
	                    </li>
	                </ul>
				</div>
			</div>
			<div class="row">
		       <div class="des">
		       	<h4 class="metiz-title">Tóm tắt phim</h4>
	            	<p> {{ film.description }}</p>
	            	<a href="javascript:;" title="Xem thêm" class="view-more-4" data-viewmore-text="">Xem thêm</a>
            	</div>
			</div>
		</div>
	</div>
{% endblock main-content-center %}

{% block main-content-bottom %}
	<section class="metiz-ads"> <!-- metiz-ads -->
		<hr>
		<div class="metiz-icon-social">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class='col-md-4'>
						<div class="metiz-social">
							<li class="metiz-icon-facabook"><a href=""><img src="{% static 'movies/images/icon/icon_facebook.png'%}"></a></li>
							<li class="metiz-icon-instagram"><a href=""><img src="{% static 'movies/images/icon/icon_instagram.png'%}"></a></li>
							<li class="metiz-icon-youtube"><a href=""><img src="{% static 'movies/images/icon/icon_youtube.png'%}"></a></li>
						</div>
					</div>
					<div class='col-md-4'>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /metiz-ads -->
{% endblock main-content-bottom %}

