{% extends 'movies/base.html' %}
{% load static %}

{% block main-content-center %}

	<div class="category-film">
		<div class="navbar nav-menu">
			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>
		{% if promotions %}
    		<div class="hot-deal-block">
	        	<div class="hot-title">
	        		<span> khuyến mãi hôm nay </span>
	        	</div>
	        	<div class="deal-block"></div>
    		</div>
	        <div class="metiz-films-container">
	        	<div class="container-fluid">
	        		<div class="tab-container">
	        			<div class="tab-pane fade in active" id="tab-1">
	        				<div class="row">
	        					{% for pro in promotions %}
		        					<div class="item col-md-3">
		        						<div class="item-image">
		        							<img  class="img-responsive" src="{{ pro.image.url }}" alt="" style="width:287px;">
		        						</div>
		        						<div class="item-info">
											<li class="movie-name"> {{ pro.name|slice:":30"|upper }}... </li>
											<ul>
												<li><a href="{% url 'movies:promotion_detail' pro.id %}" class="btn metiz-button">chi tiết</a></li>
											</ul>
										</div>
		        					</div>
	        					{% endfor %}
	        				</div>
	        				<br>
	        			</div>
	        		</div>
	        		<div class="container">
	    			    <ul class="pager">
	        				{% if promotions.has_previous %}
						    	<li><a href="?page={{ films.previous_page_number }}" class="page-link">&laquo;</a></li>
						    {% else %}
						    	<li class="disabled"><span>&laquo;</span></li>
						    {% endif %}
						    {% for i in promotions.paginator.page_range %}
						    	{% if promotions.number == i %}
						   			<li class="active"><span style="background-color: #337ab7;">{{ i }}<span class="sr-only">(current)</span></span></li>
						   		{% else %}
						   			<li><a href="?page={{ i }}">{{ i }}</a></li>
						   		{% endif %}
						   	{% endfor %}
						    {% if promotions.has_next %}
						    	<li><a href="?page={{ promotions.next_page_number }}">&raquo;</a></li>
						    {% else %}
						    	<li class="disabled"><span>&raquo;</span></li>
						    {% endif %}
	   					 </ul>
	        		</div>
	        	</div>
	        </div>
		{% endif %}

		{% if promotions %}
        <div class='hot-uncomming-block'>
        	<div class="uncomming-title">
        		<span> Chương trình sắp tới </span>
        	</div>
        	<div class="uncomming-deal-block"></div>
        	<div class="metiz-films-container">
        		<div class="container-fluid">
	        		<div class="tab-container">
	        			<div class="tab-pane fade in active" id="tab-1">
	        				<div class="row">
	        					
	        					{% for pro in promotions %}
		        					<div class="item col-md-3">
		        						<div class="item-image">
		        							<img  class="img-responsive" src="{{ pro.image.url }}" alt="" style="width:287px;">
		        						</div>
		        						<div class="item-info">
											<li class="movie-name"> {{ pro.name|slice:":30"|upper }} </li>
											<ul>
												<li><a href="{% url 'movies:promotion_detail' pro.id %}" class="btn metiz-button">chi tiết</a></li>
											</ul>
										</div>
		        					</div>
	    						{% endfor %}
	        				</div>
	        				<br>
	        			</div>
	        		</div>
	        		<div class="container">
	    			    <ul class="pager">
	        				{% if promotions.has_previous %}
						    	<li><a href="?page={{ films.previous_page_number }}" class="page-link">&laquo;</a></li>
						    {% else %}
						    	<li class="disabled"><span>&laquo;</span></li>
						    {% endif %}
						    {% for i in promotions.paginator.page_range %}
						    	{% if promotions.number == i %}
						   			<li class="active"><span style="background-color: #337ab7;">{{ i }}<span class="sr-only">(current)</span></span></li>
						   		{% else %}
						   			<li><a href="?page={{ i }}">{{ i }}</a></li>
						   		{% endif %}
						   	{% endfor %}
						    {% if promotions.has_next %}
						    	<li><a href="?page={{ promotions.next_page_number }}">&raquo;</a></li>
						    {% else %}
						    	<li class="disabled"><span>&raquo;</span></li>
						    {% endif %}
	   					 </ul>
	        		</div>
	        	</div>
        	</div>
        </div>
        {% endif %}
	</div>

{% endblock main-content-center %}

{% block main-content-bottom %}
	<section class="metiz-ads"> <!-- metiz-ads -->
		<hr>
		<div class="metiz-icon-social">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class='col-md-4'>
						<div class="metiz-social">
							<li class="metiz-icon-facabook"><a href=""><img src="{% static 'movies/images/icon/icon_facebook.png'%}"></a></li>
							<li class="metiz-icon-instagram"><a href=""><img src="{% static 'movies/images/icon/icon_instagram.png'%}"></a></li>
							<li class="metiz-icon-youtube"><a href=""><img src="{% static 'movies/images/icon/icon_youtube.png'%}"></a></li>
						</div>
					</div>
					<div class='col-md-4'>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /metiz-ads -->
{% endblock main-content-bottom %}

