{% extends 'movies/base.html' %}
{% load static %}

{% block main-content-center %}

{% block metiz-promotion %} 
	{% if promotion %}
	{% for pro in promotion %}
	<div class='container'>
		<div class="category-film">
				<div class="navbar nav-menu">
					<div class="navbar-collapse">
						<ul class="nav navbar-nav">
						</ul>
					</div>
				</div>
		</div>
		<div class="hot-deal-block">
	    	<div class="hot-title">
	    		<span> {{ pro.name }}</span>
	    	</div>
	    	<div class="deal-block">
	    	</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<img src="{{ pro.image.url }}" class="img-responsive" alt="">
				<div class="des">
		       		<h4 class="metiz-title">{{ pro.title }}</h4>
	            	<p> {{ pro.description }}</p>
	            	<a href="javascript:;" title="Xem thêm" class="view-more-4" data-viewmore-text="">Xem thêm</a>
            	</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar-title"><h3 class='metiz-title'>Khuyến mãi khác </h3></div>
				<div class="promotion">
					{% for p in list_pro %}
		                <div class="row promotion-thumb">
		                	<div class="col-md-3">
		                	<a href="{% url 'movies:promotion_detail' p.id %}"><img class="img-responsive" src="{{ p.image.url }}" alt=""></a>
		                </div>
	                        <div class="col-md-9"><a href="{% url 'movies:promotion_detail' p.id %}">{{ p.title }}</a></div>
	                    </div>
	                    <br>
	                {% endfor %}
            	</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif  %}

{% endblock metiz-promotion %}

{% endblock main-content-center %}
{% block main-content-bottom %}
	<section class="metiz-ads"> <!-- metiz-ads -->
		<hr>
		<div class="metiz-icon-social">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class='col-md-4'>
						<div class="metiz-social">
							<li class="metiz-icon-facabook"><a href=""><img src="{% static 'movies/images/icon/icon_facebook.png'%}"></a></li>
							<li class="metiz-icon-instagram"><a href=""><img src="{% static 'movies/images/icon/icon_instagram.png'%}"></a></li>
							<li class="metiz-icon-youtube"><a href=""><img src="{% static 'movies/images/icon/icon_youtube.png'%}"></a></li>
						</div>
					</div>
					<div class='col-md-4'>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /metiz-ads -->
{% endblock main-content-bottom %}

